/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@import "primereact/resources/themes/lara-light-green/theme.css";
@import "primereact/resources/primereact.min.css";


:root {
  --ifm-color-primary: #9bbf86;
  --ifm-color-primary-dark: #8aac76;
  --ifm-color-primary-darker: #7a9868;
  --ifm-color-primary-darkest: #647c55;
  --ifm-color-primary-light: #aacb99;
  --ifm-color-primary-lighter: #bad7ad;
  --ifm-color-primary-lightest: #d1e6c8;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary-color: #0ab932 !important;
  --grey: #b6b8b9
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #9bbf86;
  --ifm-color-primary-dark: #8aac76;
  --ifm-color-primary-darker: #7a9868;
  --ifm-color-primary-darkest: #647c55;
  --ifm-color-primary-light: #aacb99;
  --ifm-color-primary-lighter: #bad7ad;
  --ifm-color-primary-lightest: #d1e6c8;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

html[data-theme='light'] .footer {
  background-color: #9bbf86;
}

html[data-theme='dark'] .footer {
  background-color: #242526;
}


/* Outros tons de verde*/

/*
:root {
  --ifm-color-primary: #349f69;
  --ifm-color-primary-dark: #2f8f5f;
  --ifm-color-primary-darker: #297f55;
  --ifm-color-primary-darkest: #216644;
  --ifm-color-primary-light: #46b77b;
  --ifm-color-primary-lighter: #67c893;
  --ifm-color-primary-lightest: #8ad8ab;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}
*/

/*
[data-theme='dark'] {
  --ifm-color-primary: #4fd38a;
  --ifm-color-primary-dark: #48c47f;
  --ifm-color-primary-darker: #3fb573;
  --ifm-color-primary-darkest: #339c61;
  --ifm-color-primary-light: #6ce6a0;
  --ifm-color-primary-lighter: #8cf0b7;
  --ifm-color-primary-lightest: #b0f8ce;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
*/